<h1>Track time</h1>
<input list="logAutocompleteList" type="text" [(ngModel)]="newTimeLogItemSummary">
<datalist id="logAutocompleteList">
    <option *ngFor="let item of newTimeLogItemSummaryAutocomplete" value="{{ item }}">
</datalist>
<button (click)="onAddTimeLogClick()">Add</button>
<br>
<button (click)="onCloseTimeLogClick()">Close</button>
<time-log-list></time-log-list>

<style>
    .tabControl {
        cursor: pointer;
    }
    .tabControl.current {
        font-weight: bold;
    }
</style>

<busy-popup></busy-popup>